.App {

}

table {
    border: 1px solid black;
    margin: 10px 0;
}

th, td {
    border: 1px solid black;
    margin: 0 auto;
    padding: 0 5px;
}


.category-box {
    text-align: left;
}

.score-box {
    text-align: right;
}

.marked {
    background-color: aquamarine;
}